<div class="container">
  <h3 class="text-success text-center" style="font-size: 40px;">Shop by your favourite Category!</h3>
  <br>
    <div id="myCarousel" class=" carousel slide" data-ride="carousel" data-interval="false" >
        <div class="carousel-inner text-center">
            <div class="carousel-item active row">
                <div class="card col-lg-4 float-left border-0 image1">
                  <a routerLink="/category/{{categories[0].Id}}">
                    <img src={{categories[0].CategoryUrl}} alt={{categories[0].CategoryName}} class="card-image-top w-33 img-responsive">
                    <div class="card-body">
                      <h5 class="card-title text-center">{{categories[0].CategoryName}} </h5>
                    </div>
                  </a>
                </div>
                <div class="card col-lg-4 float-left border-0 image2" style="padding-left: 16px;">
                  <a routerLink="/category/{{categories[1].Id}}">
                    <img src={{categories[1].CategoryUrl}} alt={{categories[1].CategoryName}} class="card-image-top w-34 img-responsive">
                    <div class="card-body">
                      <h5 class="card-title text-center">{{categories[1].CategoryName}}</h5>
                    </div>
                  </a>
                </div>
                <div class="card col-lg-4 float-left border-0 image3">
                  <a routerLink="/category/{{categories[2].Id}}">
                    <img src={{categories[2].CategoryUrl}} alt={{categories[2].CategoryName}} class="card-image-top w-33 img-responsive">
                    <div class="card-body">
                      <h5 class="card-title text-center">{{categories[2].CategoryName}} </h5>
                    </div>
                  </a>
                </div>
            </div>
            <div class="carousel-item row">
              <div class="card col-lg-4 float-left border-0 image4">
                <a routerLink="/category/{{categories[3].Id}}">
                  <img src={{categories[3].CategoryUrl}} alt={{categories[3].CategoryName}} class="card-image-top w-33 img-responsive">
                  <div class="card-body">
                    <h5 class="card-title text-center">{{categories[3].CategoryName}} </h5>
                  </div>
                </a>
              </div>
              <div class="card col-lg-4 float-left border-0 image5">
                <a routerLink="/category/{{categories[4].Id}}">
                  <img src={{categories[4].CategoryUrl}} alt={{categories[4].CategoryName}} class="card-image-top w-34 img-responsive">
                  <div class="card-body">
                    <h5 class="card-title text-center">{{categories[4].CategoryName}} </h5>
                  </div>
                </a>
              </div>
        </div>
        <button type="button" class="left carousel-control carousel-control-prev" data-target="#myCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
          <span class="sr-only">Previous</span>
        </button>
        <button type="button" class="right carousel-control carousel-control-next" data-target="#myCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
          <span class="sr-only">Next</span>
        </button>
    </div>
</div>